@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
  cursor: pointer;

}

h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4{
  font-size: 20px;
  color: #222;
  cursor: progress;
}
h6{
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}
body{
  width: 100%;
}

html{
    scroll-behavior:smooth;
}

.container{
    width: 20rem;
    height: 20rem;
    background: white;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
    right: -450px;
    align-items: center;
}

.container div{
    min-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    background-color: #222;
    scroll-snap-align: center;
    
}

.container div img{
    width: 200px;
    
}

.container .box2{
    background-color: #088178;
}



/* header starts here */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}


#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  cursor: pointer;
  
  transition: 0.5s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30px;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
  cursor: pointer;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}



/* Women page */
#hero{
  background-image: url(img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 0.5rem;
  margin-left: 5.6rem;
}

#hero p{
    padding-bottom: 0.5rem;
    margin-left: 5.6rem;
}

#hero h1{
  color: #088178;
  font-weight: 800;
  margin-left: 5.6rem;
}

#hero button{
  background: #088178;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.9rem;
  padding: 14px 80px 14px 65px;
  transition: 0.5s ease-in-out; 
  cursor: pointer;
  margin-left: 5.6rem;
}

#hero button:hover{
  background: transparent;
  border: 2px solid #088178;
  border-color: #088178;
  border-radius: 0.9rem;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600;
}


/* shop page */

#features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0;
}

#features .fe-box:hover{
  box-shadow: 20px 20px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box img{
  width: 100%;
  margin-bottom: 10px; 
}

#features .fe-box h6{
    padding: 9px 8px 6px 8px;
    background-color: #fddde4;
    border-radius: 5px;
    line-height: 1;
    color: #088178;
    display: inline-block ;
}

#features .fe-box h6:nth-child(2){
  background-color: #cdebbc;
}
#features .fe-box h6:nth-child(3){
  background-color: #d1e8f2;
}
#features .fe-box h6:nth-child(4){
  background-color: #cdd4f8;
}
#features .fe-box h6:nth-child(5){
  background-color: #f6dbf6;
}
#features .fe-box h6:nth-child(6){
  background-color: #fff2e5;
}

#wproducts {
  text-align: center;
}

#wproducts .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
}

#wproducts .pro img{
  width: 100%;
  border-radius: 20px;
}


#product1 .pro-container {
  width: 18%;
  min-width: 250px;
  border: 1px solid #cce7d0;
  padding: 25px;
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
  margin-left: 25px;
}

#header a img{
    width: 90px;
}





/* for kids styling */
#kidhero{
  background-image: url(img/shopping\ kid.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#kidhero h4{
  padding-bottom: 0.5rem;
  margin-left: 5.6rem;
}

#kidhero p{
    padding-bottom: 0.5rem;
    margin-left: 5.6rem;
}

#kidhero h1{
  color: #088178;
  font-weight: 800;
  margin-left: 5.6rem;
}

#kidhero button{
  background: #088178;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.9rem;
  padding: 14px 80px 14px 65px;
  transition: 0.5s ease-in-out; 
  cursor: pointer;
  margin-left: 5.6rem;
}

#kidhero button:hover{
  background: transparent;
  border: 2px solid #088178;
  border-color: #088178;
  border-radius: 0.9rem;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600;
}

#kid-header{
  background-image: url("img/banner/b1.jpg");
  opacity: 90%;
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  margin-top: 50px;

}

#kid-header h2,
#kid-header p{
  color: white;
}


/* for Product styling */

#producthero{
  background-image: url(img/productimgg.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#producthero h4{
  padding-bottom: 0.5rem;
  margin-left: 5.6rem;
}

#producthero p{
    padding-bottom: 0.5rem;
    margin-left: 5.6rem;
}

#producthero h1{
  color: #088178;
  font-weight: 800;
  margin-left: 5.6rem;
}

#producthero button{
  background: #088178;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.9rem;
  padding: 14px 80px 14px 65px;
  transition: 0.5s ease-in-out; 
  cursor: pointer;
  margin-left: 5.6rem;
}

#producthero button:hover{
  background: transparent;
  border: 2px solid #088178;
  border-color: #088178;
  border-radius: 0.9rem;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 600;
}


/* new&featured */

/* the product display section */
#feature{
  padding: 40px 90px;
  display: flex;
  grid-template-columns: repeat(auto-fit, minimax(220px, auto));
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  }



#feature .fe-box{
  width: 250px;
  text-align: center;
  padding: 15px 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 15px;
  margin: 10px 5px;
  cursor: pointer;
} 

#feature .fe-box img{
  width: 100vh;
  height: auto;
  margin-bottom: 10px;
  
}


#feature .fe-box .all-image:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  padding: 10px;
  transition: 0.4s ease-in-out;
}

.price:hover{
  font-weight: 600;
  transition: 0.5s ease-in-out;
  color: red;
}
span, .cart{
  display: inline-block;
  padding: 10px 30px;
}

.cart:hover{
  color: #088178;
  transition: 0.5s ease-in-out;
}




/* Pagination */
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}


#newsletter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-position: 20% 30%;
  background-color: #088178;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  white-space: nowrap;
  color: #1a1a1a;
  background: #ef3636;
  border-radius: 0;
  padding: 10px;
}

#newsletter button:hover{
  color: #fff;
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}


/* footer section */

footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0; 
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-bottom: 20px;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
  color: #088178;
}

footer .copyright{
  width: 100%;
  text-align: center;
}


/* start media Query */
@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 300px;  
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
     
  }

  #navbar li{
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute; 
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lgbag {
    display: none;
  }
}